nav {
  height: 120px;
  position: fixed;
  display: flex;
  flex-direction: row;
  top: 0;
  width: 100%;
  background-color: #4056a1;
  color: #ffffff;
  padding: 1.5em 1.5em 1.5em 1.5em;
  align-items: center;
  justify-content: space-between;
}

nav span {
  font-size: 2.5rem;
}

.nav_tweets {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav_tweets p {
  cursor: pointer;
}

.nav_tweets i {
  cursor: pointer;
  margin-top: -1.2rem;
  color: red;
}

@media screen and (max-width: 1024px) {
  nav {
    background-color: #f70000;
    background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
    background-repeat: repeat;
  }
}
