section,
form {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1em;
}

#error-messages {
  font-weight: bold;
  font-size: 25px;
  font-style: italic;
  color: red;
  border: solid 1px red;
  padding: 10px;
}

button {
  background-color: #4056a1;
  color: #ffffff;
  font-family: "Bungee", sans-serif;
}

output {
  align-items: center;
}

.counter {
  text-align: right;
  font-weight: bold;
  font-family: "Bungee", sans-serif;
}

.tweet-controls {
  display: flex;
  justify-content: space-between;
  align-items: right;
  width: 100%;
}

textarea::placeholder {
  color: #000000;
  font-weight: bold;
}

textarea {
  width: 100%;
  border-bottom: 2px solid #000000;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
}


/* Desktop styles */
@media screen and (min-width: 1024px) {
  section,
form {
  padding-top: 4.5em;
  
};

}

