section,form {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

button {
  background-color: #4056a1;
  color: #ffffff;
  font-family: "Bungee", sans-serif;
}

output {
  align-items: center;
}

.counter {
  text-align: right;
}

.tweet-controls {

  display: flex;
  justify-content: space-between;
  align-items: right;
  width: 100%;
}

textarea::placeholder {
  color: #000000;
  font-weight: bold;
}


textarea {
  width: 100%;
  border-bottom: 2px solid #000000;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
}